version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
      day: "thursday"
      time: "11:00"
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: weekly
      day: "thursday"
      time: "11:00"


