root = true

[{*.kt,*.kts}]
insert_final_newline = true
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_package-name = disabled
ktlint_standard_class-naming = disabled
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_comment-spacing = disabled
ktlint_standard_filename = disabled
ktlint_standard_value-argument-comment = disabled
ktlint_standard_type-argument-comment = disabled